.ingredient_input {
  margin-bottom: 5px;
}

@media all and (max-width: 992px) {
  .value_input {
    width: 100%;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 4px;
    min-height: 38px;
    padding: 2px 8px;
  }

  .searchRow {
    margin-bottom: 10px !important;
  }
}

@media all and (min-width: 993px) {
  .value_input {
    width: 100%;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 4px;
    min-height: 38px;
    padding: 2px 8px;
  }
  .searchRow {
    width: 80%;
    margin-left: 10% !important;
    margin-right: 10%;
    margin-bottom: 30px;
    margin-top: 30px;
  }
}
